<app-header></app-header>


<p>Clientes</p>
<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Cant Casos</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cliente of listaClientes">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.cedula }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <!--<td>{{ user.address.street }}, {{ user.address.city }}</td> -->
					<th>{{ cliente.cant_casos }}</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
